.comContainer {
  background-color: lightgray;
  padding-bottom: 70px;
}

.comBtn {
  margin-left: 7%;
}

.comBox {
  width: 700px;
  height: 500px;
  background-color: lightblue;
  margin-left: 7%;
  float: left;
  overflow-y: scroll;
  padding-left: 50px;
}

#line:focus {
  background-color: #144e88;
}

#hanta:focus {
  background-color: #144e88;
}

.outcome {
  width: 700px;
  height: 500px;
  background-color: antiquewhite;
  display: flex;
}

.outP {
  background-color: antiquewhite;
  width: 50px;
}

.box1 {
  width: 150px;
  height: 150px;
  background-color: white;
  margin-top: 175px;
  /* margin-left: 25px; */
  border-radius: 10px;
}

.box2 {
  width: 425px;
  height: 400px;
  background-color: wheat;
  margin-top: 50px;
  overflow-y: scroll;
  margin-left: 30px;
}

.reBox {
  width: 130px;
  height: 130px;
  background-color: white;
  float: left;
  margin: 5px;
  margin-left: 10px;
}

.reRate {
  background-color: thistle;
  margin: 5px;
  width: 100px;
  height: 75px;
  float: left;
  text-align: center;
  margin-top: 60px;
}
